{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block stylesheets_custom %}
    <link rel="stylesheet" href="../../public/assets/css/form.css">
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <link rel="stylesheet" href="../../public/assets/css/media.css">
{% endblock %}

{% block right %}
    <div id="menu" class="menu collapse">
        <div onclick="onAction(this,'edit')" class="menu-item"><i class="bi bi-pencil"></i>&nbsp;Edition</div>
        <div onclick="onAction(this,'delete')" class="menu-item"><i class="bi bi-trash"></i>&nbsp;Supprimer</div>
    </div>

    <h1>Test Tableau de bord</h1>
    <div class="jumbotron">
        <p class="text-light">Gérer vos projets</p>
        <p></p>
        <hr class="my-3">
        <div class="card  p-1">
            <table class="rounded table table-primary table-hover table-striped">
                <thead>
                <tr>
                    <th class="thead rounded-l-top " colspan="2" scope="col">Nom</th>
                    <th class="thead" scope="col">Lien</th>
                    <th class="thead rounded-r-top" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for folio in pagination %}
                    <tr>
                        <td class="tdid collapse">{{ folio.id }}</td>
                        <td><img class="frame-img" src="/assets/images/loading.gif" alt="loading..."></td>
                        <td>{{ folio.name }}</td>
                        <td>{{ folio.link }}</td>
                        <td class="tdimage collapse">{{ folio.icon }}</td>
                        <td>
                            <button onmouseenter="showContext(this);"
                                    class="btn btn-primary bi bi-three-dots "></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="../../public/assets/js/common.js"></script>
    <script type="text/javascript">
        let tr_id = null;
        const menu = document.getElementById("menu");

        const tbody = document.querySelectorAll("tbody tr");
        tbody.forEach((item)=>{
             item.addEventListener("mouseenter",hideMenu);
        });

        function loadImage(element, url) {
            let image = new Image();
            image.onload = () => {
                element.src = image.src;
            }
            image.onerror = () => {
                element.src = "images/noimage.jpg"
            }
            image.src = url;
        }

        let imagesSrc = document.querySelectorAll(".tdimage");
        let images = document.querySelectorAll(".frame-img");


        for (let i = 0; i < imagesSrc.length; i++) {
            let image = imagesSrc[i].innerText;
            loadImage(images[i], image);
        }

        menu.addEventListener("mouseleave", hideMenu);

        // buttons.forEach((button) => {
        //     button.addEventListener("mouseenter", hideMenu);
        // })

        function showContext(button) {
            const buttonRect = button.getBoundingClientRect();
            menu.style.top = `${buttonRect.bottom - 10}px`;
            menu.style.left = `${buttonRect.left - 6}px`;
            // Afficher le menu
            menu.classList.remove("collapse");
            tr_id = button.parentElement.parentElement.children[0].innerText;
        }

        function hideMenu() {
            menu.classList.add("collapse");
        }


        function onAction(elem, action) {

            switch (action) {
                case "edit":

                    break;

                case "delete":

                    break;

                default:
                    break;
            }
        }
    </script>
{% endblock %}